/.idea/
*.iml
*.ipr
*.iws
*.orig
*.rej
.svn
.classpath
.project
.settings
.springBeans
.DS_Store
dependency-reduced-pom.xml
build/
id_rsa
target/
logs/
logback.logs.path_IS_UNDEFINED/
metastore_db/
derby.log
**/generated/**/*
**/jmh-result.json
hs_err*.log
replay_pid*.log
uploaded_files
*.jar
